:root {
  box-sizing: border-box;

  /* previous colors */
  --color-one: #4ea665;
  --color-four: #c9f2da;
  --color-three: #38d9f2;
  --color-two: #8694d1;
  --color-five: #002cf2;

  /* new colors */
  --whiteish: #f6ffe3;
  --yellowish: #fae466;
  --brownish: #3f3019;
  --brownish2: #826437; /* 2 for being lighter, 3, 4 etc will be even brighter */
  --greenish: #a2ffae;
  --redish: #fa7d50;

  --color-x: rgb(150, 191, 238);
}
*,
::before,
::after {
  box-sizing: inherit;
}

.App {
  background-color: var(--whiteish);
}
.container {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 5% 10%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 10px var(--yellowish) solid;
  border-right: 10px var(--yellowish) solid;
}
.header {
  font-size: 3rem;
  color: var(--brownish2);
  margin-bottom: 2em;
  font-weight: 700;
}

.note-header {
  background-color: var(--yellowish);
  width: 100%;
  padding: 0 0.5em;

  display: flex;
  align-items: center;

  color: var(--brownish2);
  font-weight: bold;
  border-bottom: 1px solid var(--whiteish);
  border-radius: 1px;
}
.note-header > button {
  width: 5em;
  height: 3em;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  text-align: right;
  color: white;
}
.note-header > button:hover .down_icon {
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.4));
}
.note-header__minus-button {
  margin-left: auto;
  margin-right: 1em;
}
.note-header__minus-button > * {
  color: var(--redish);
}
.note-content {
  min-height: 10vh;
  min-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Make wrapper visible only on focus. */
.rdw-editor-toolbar.rich-text__toolbar {
  display: none;
}
.rdw-editor-wrapper:focus-within .rich-text__toolbar {
  display: flex;
}

.rdw-editor-wrapper {
  flex-grow: 1;
}
.rdw-editor-main {
  background-color: #fff;
}
