:root {
  box-sizing: border-box;

  --color-one: #4ea665;
  --color-four: #c9f2da;
  --color-three: #38d9f2;
  --color-two: #8694d1;
  --color-five: #002cf2;

  --color-x: rgb(150, 191, 238);
}
*,
::before,
::after {
  box-sizing: inherit;
}

.App {
  background-color: var(--color-two);
}
.container {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  background-color: var(--color-four);

  /* background-image: url("./ruled-paper-sheet-500x500.jpg");  */
  padding: 5% 10%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 10px var(--color-two) dotted;
  /* border-right: 10px var(--color-two) dashed; */
}
.header {
  font-size: calc(10px + 3vmin);
  color: var(--color-two);
  margin-bottom: 2em;
  font-weight: 700;
}

.note-header {
  background-color: var(--color-x);
  width: 100%;
  padding: 0 0.5em;

  display: flex;
  align-items: center;

  color: white;
  border: 1px solid var(--color-four);
  border-radius: 1px;
}
.note-header__icon {
  color: white;
  min-height: 20px;
  min-width: 20px;
}
.note-header > button {
  width: 5em;
  height: 3em;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  text-align: right;
  color: white;
}
.note-header > button:hover {
  color: var(--color-one);
}
.note-header__minus-button {
  margin-left: auto;
  margin-right: 1em;
}
.note-header__minus-button > * {
  color: rgb(141, 29, 29);
}

.note-content {
  min-height: 10vh;
  min-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Make wrapper visible only on focus. */
.rdw-editor-toolbar.rich-text__toolbar {
  display: none;
}
.rdw-editor-wrapper:focus-within .rich-text__toolbar {
  display: flex;
}

.rdw-editor-wrapper {
  flex-grow: 1;
}
.rdw-editor-main {
  /* height: 10vh; */
  background-color: #fff;
}
