@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  box-sizing: border-box;

  /* previous colors */
  --color-one: #4ea665;
  --color-four: #c9f2da;
  --color-three: #38d9f2;
  --color-two: #8694d1;
  --color-five: #002cf2;

  /* new colors */
  --whiteish: #f6ffe3;
  --yellowish: #fae466;
  --brownish: #3f3019;
  --brownish2: #826437; /* 2 for being lighter, 3, 4 etc will be even brighter */
  --greenish: #a2ffae;
  --redish: #fa7d50;

  --color-x: rgb(150, 191, 238);
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto Mono", monospace;
}

.App {
  background-color: var(--whiteish);
}
.container {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 5% 10%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 10px var(--yellowish) solid;
  border-right: 10px var(--yellowish) solid;
}
.header {
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
  color: var(--brownish2);
  margin-bottom: 2em;
  font-weight: 700;
}

.btn-unstyled {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
.mg-left-auto {
  margin-left: auto;
}

.note-header {
  background-color: var(--yellowish);
  width: 100%;
  padding: 0 0.5em;

  display: flex;
  align-items: center;

  color: var(--brownish2);
  font-weight: bold;
  border-bottom: 1px solid var(--whiteish);
  border-radius: 1px;
}
.note-header .btn-edit {
  width: 2.5em;
  height: 3em;
  margin-left: auto;
  margin-right: 2em;
  color: var(--redish);
}
.note-header .btn-expand {
  width: 4em;
  height: 3em;
  text-align: right;
}
.note-header:last-child {
}
.note-header .down_icon {
  color: var(--whiteish);
}
.note-header.note-header--clicked .down_icon {
  color: var(--redish);
}
.note-header > button:hover .down_icon {
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.4));
}
.note-header .minus_icon {
  margin-left: 4em;
  color: var(--redish);
}
.note-content {
  min-height: 10vh;
  min-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.note-header--clicked {
  filter: url("#filter");
  filter: hue-rotate(20deg) grayscale(70%);
  /* filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4)
    saturate(0.28); */
}
.note-header__text {
  text-decoration: none;
}

.btn-add {
  margin-top: 2rem;
  color: var(--greenish);
  filter: brightness(90%);
}
.btn-add:hover {
  filter: brightness(95%);
}
.btn-add:hover .plus-icon {
  /* filter: drop-shadow(0 0 1px rgb(0 0 0 / 0.4)); */
}

/* Make wrapper visible only on focus. */
.rdw-editor-toolbar.rich-text__toolbar {
  display: none;
}
.rdw-editor-wrapper:focus-within .rich-text__toolbar {
  display: flex;
}

.rdw-editor-wrapper {
  flex-grow: 1;
  border: 1px var(--yellowish) solid;
}
.rdw-editor-main {
  background-color: #fff;
  height: 100%;
}

/*not working %*/
/* .rich-text__editor {
  height: 100%;
}
.public-DraftEditor-content {
  height: 100%;
} */
